.App {
  text-align: center;
}
.wrapper{
  background-color: #112d49;
  max-width: 1000px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 1em;
  color: aliceblue;
  box-shadow: 5px 5px 5px #000;
}
h1{
  font-size: 50px;
  margin-bottom: 50px;
}
